*.class
.idea/
/eventcoreference.properties
/EventCoreference.ipr
/eventcoreference.xml
/.gitignore
/EventCoreference.iws
/EventCoreference.iml
EventCoreference.iws
EventCoreference.ipr
eventcoreference.properties
eventcoreference.xml
module_eventcoreference.xml
target/
*.iml
doc/EventCorefWordnetSimTest.html
doc/eu/newsreader/eventcoreference/coref/Scoring.html
doc/eu/newsreader/eventcoreference/input/EsoReader.html
doc/eu/newsreader/eventcoreference/input/FrameNetReader.html
doc/eu/newsreader/eventcoreference/input/GetEntityCounts.html
doc/eu/newsreader/eventcoreference/input/GetEntityStats.html
doc/eu/newsreader/eventcoreference/input/GetEsoCounts.html
doc/eu/newsreader/eventcoreference/input/GetEventStats.html
doc/eu/newsreader/eventcoreference/input/GetNAF.html
doc/eu/newsreader/eventcoreference/input/NarrativeChains.html
doc/eu/newsreader/eventcoreference/input/OwlReader.html
doc/eu/newsreader/eventcoreference/input/OwlReader2.html
doc/eu/newsreader/eventcoreference/input/SelectEntityTrig.html
doc/eu/newsreader/eventcoreference/input/TrigKSTripleReader.html
doc/eu/newsreader/eventcoreference/input/TrigStatsReader.html
doc/eu/newsreader/eventcoreference/input/TrigTripleData.html
doc/eu/newsreader/eventcoreference/input/TrigTripleReader.html
doc/eu/newsreader/eventcoreference/input/TrigUtil.html
doc/eu/newsreader/eventcoreference/naf/CreateMicrostory.html
doc/eu/newsreader/eventcoreference/naf/EventCorefSingletonBaseline.html
doc/eu/newsreader/eventcoreference/naf/EventCorefWordnetSim.html
doc/eu/newsreader/eventcoreference/naf/GetJsonTimeLinesFromNaf.html
doc/eu/newsreader/eventcoreference/naf/GetPerspectiveFromNafFile.html
doc/eu/newsreader/eventcoreference/naf/GetPerspectiveRelations.html
doc/eu/newsreader/eventcoreference/naf/GetPerspectiveStatsFromNafFile.PerspectiveStats.html
doc/eu/newsreader/eventcoreference/naf/GetPerspectiveStatsFromNafFile.html
doc/eu/newsreader/eventcoreference/naf/GetSemAndPerspectiveFromNafFile.html
doc/eu/newsreader/eventcoreference/naf/GetSemFromNaf.html
doc/eu/newsreader/eventcoreference/naf/GetSemFromNafFolder.html
doc/eu/newsreader/eventcoreference/naf/GetTimeLinesFromNaf.html
doc/eu/newsreader/eventcoreference/naf/GetTimeLinesFromNafFolder.html
doc/eu/newsreader/eventcoreference/naf/Naf2SemTest.html
doc/eu/newsreader/eventcoreference/naf/NafObjectToSemTest.html
doc/eu/newsreader/eventcoreference/naf/NoClusterEventObjects.html
doc/eu/newsreader/eventcoreference/naf/ParcAttributionTask.html
doc/eu/newsreader/eventcoreference/naf/ProcessEventObjectsStream.html
doc/eu/newsreader/eventcoreference/naf/RawTextIndex.html
doc/eu/newsreader/eventcoreference/objects/CorefMatch.html
doc/eu/newsreader/eventcoreference/objects/CorefResultSet.html
doc/eu/newsreader/eventcoreference/objects/CorefTriple.html
doc/eu/newsreader/eventcoreference/objects/JsonEvent.html
doc/eu/newsreader/eventcoreference/objects/PerspectiveObject.html
doc/eu/newsreader/eventcoreference/objects/PhraseCount.Compare.html
doc/eu/newsreader/eventcoreference/objects/TimeTypes.html
doc/eu/newsreader/eventcoreference/ontology/thesis/
doc/eu/newsreader/eventcoreference/output/DataSetConceptHierarchy.html
doc/eu/newsreader/eventcoreference/output/DataSetEntityHierarchy.html
doc/eu/newsreader/eventcoreference/output/DataSetEventHierarchy.html
doc/eu/newsreader/eventcoreference/output/DataSetSources.html
doc/eu/newsreader/eventcoreference/output/DataSetTopicHierarchy.html
doc/eu/newsreader/eventcoreference/output/GetEventCentricGraph.html
doc/eu/newsreader/eventcoreference/output/GetTypeHierarchyForConcepts.html
doc/eu/newsreader/eventcoreference/output/SimpleTaxonomy.html
doc/eu/newsreader/eventcoreference/output/TrigStats.html
doc/eu/newsreader/eventcoreference/pwn/ILIReader.html
doc/eu/newsreader/eventcoreference/storyline/
doc/eu/newsreader/eventcoreference/timeline/
doc/eu/newsreader/eventcoreference/util/Clusterer.html
doc/eu/newsreader/eventcoreference/util/CompareTrigFiles.html
doc/eu/newsreader/eventcoreference/util/EuroVoc.html
doc/eu/newsreader/eventcoreference/util/FixUri.html
doc/eu/newsreader/eventcoreference/util/FrameTypes.html
doc/eu/newsreader/eventcoreference/util/MapEuroVocToEuroConcept.html
doc/eu/newsreader/eventcoreference/util/RemoveEventCoreferences.html
doc/eu/newsreader/eventcoreference/util/TopicStatsFromTrig.html
doc/eu/newsreader/eventcoreference/util/TreeStaticHtml.html
doc/index-files/index-21.html
doc/index-files/index-22.html
doc/index-files/index-23.html
doc/index-files/index-24.html
doc/package-frame.html
doc/package-summary.html
doc/package-tree.html
doc/script.js
lib/
src/main/java/eu/newsreader/eventcoreference/evaluation/.svn/
src/main/java/eu/newsreader/eventcoreference/input/.svn/
src/main/java/eu/newsreader/eventcoreference/objects/.svn/
src/main/java/eu/newsreader/eventcoreference/output/.svn/
src/main/java/eu/newsreader/eventcoreference/pwn/.svn/
src/main/java/eu/newsreader/eventcoreference/util/.svn/
src/main/resources/
