*.class
.idea/
/eventcoreference.properties
/EventCoreference.ipr
/eventcoreference.xml
/.gitignore
/EventCoreference.iws
/EventCoreference.iml
EventCoreference.iws
EventCoreference.ipr
eventcoreference.properties
eventcoreference.xml
module_eventcoreference.xml
target/
*.iml
