trigs/
nafs_to_process/
nafs_processed/
pom.xml
.coref
*.coref

*.naf

*.trig

*.obj

*.jar
/eventcoreference.properties
/EventCoreference.ipr
/eventcoreference.xml
/.gitignore
/EventCoreference.iws
/EventCoreference.iml
/example.naf

*.class

.idea/

EventCoreference.iws
EventCoreference.ipr
eventcoreference.properties
eventcoreference.xml
module_eventcoreference.xml

carheaderexample/

resources/

test-data/

example/

newsreader-vm/

object-test/

papers/

target/

*.iml

.*
